@model DeptVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>update</title>
 <link  rel="stylesheet" href="~/css/Dept.css"/>
    }
</head>
<body>
    <center>
        <h1 style="margin-top:20px;color:red">@SharedLocalizer["update Department"]</h1>
    </center>
    <form class="forma" asp-area="Departments" asp-controller="Department" asp-action="update">

        <div class="form-group">
            <label for="Name">@SharedLocalizer["Name"]:</label>
            <input type="text" class="form-control" placeholder=@SharedLocalizer["Enter Name"] id="Name" asp-for="name">
            <span class="text-danger font-weight-bold" asp-validation-for="name"></span>
        </div>
        <center>
            <button class="btn btn-success " asp-controller="Department" asp-action="Index">@SharedLocalizer["Back To Data"]</button>

            <button type="submit" class="btn btn-primary " asp-area="Department" asp-controller="Department" asp-action="Update" value="Update"> @SharedLocalizer["Update"]</button>
            <button class="btn btn-danger " asp-area="Department" asp-controller="Department" asp-action="Delete" asp-route-id="@Model.id">@SharedLocalizer["Delete"]</button>
        </center>

    </form>

    @section script{
        <script src="~/plugins/jquery/jquery.js"></script>
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
</body>
</html>
