@model ProjectVM
@{
    ViewData["Title"] = "Delete";
   
}



@section style{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/Emp.css" />
}
<center>
    <h1 style="color:red">@SharedLocalizer["Delete Project"]</h1>
</center>
<form asp-area="Project" asp-controller="Project" asp-action="Delete" method="post">

    <div class="form-group">
        <label asp-for="name">@SharedLocalizer["Name"]</label>
        <input type="Text" class="form-control" id="name" placeholder="Enter Name" asp-for="name" disabled>
        <span asp-validation-for="name" class="text-danger font-weight-bold"></span>
    </div>
    <div class="form-group">
        <label asp-for="location">
            @SharedLocalizer["location"]</label>
                <input type="Text" class="form-control" id="name" placeholder="Enter Salary" asp-for="location" disabled>
                <span asp-validation-for="location" class="text-danger font-weight-bold"></span>
</div>

    <div class="form-group"  >
        <label asp-for="Dnum">@SharedLocalizer["department"]</label><br />
        <select asp-for="Dnum"  class="form-control" asp-items="(SelectList)ViewBag.departmentlist" disabled>
            <option>Choose Department</option>
        </select><br />
        <span asp-validation-for="Dnum" class="text-danger font-weight-bold"></span>
    </div>
    <div class="form-group" style="margin-top:-25px">
        <label asp-for="Startdate">@SharedLocalizer["Start Date"]</label><br />
        <input type="text" class="form-control"  id="datepicker" asp-for="Startdate" disabled>
        <br />
        <span asp-validation-for="Startdate" class="text-danger font-weight-bold"></span>
    </div>

    <div class="form-group" style="margin-top:-25px">
        <label asp-for="Finishdate">@SharedLocalizer["Finish Date"]</label><br />
        <input type="text" class="form-control"  id="datepicker2" asp-for="Finishdate" disabled>
        <br />
        <span asp-validation-for="Finishdate" class="text-danger font-weight-bold"></span>
    </div>


    <center>
        <a class="btn btn-primary" asp-controller="Project" asp-action="Index">@SharedLocalizer["Back to data"]</a>
         <button type="submit" class="btn btn-danger" style="display:none;" id="do">@SharedLocalizer["Delete"]</button>
            <!-- Button to Open the Modal -->

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
              @SharedLocalizer["Delete"]
            </button>

    </center>
</form>

   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                    <img src="~/images/download.png"  height="50"/>
                    @SharedLocalizer["Warning"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   @SharedLocalizer["Are you sure you want to Delete Project?"]
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-outline-danger" name="in_confirm_insert" id="delete-button">@SharedLocalizer["Delete"]</button>
                    <button data-dismiss="modal" class="btn btn-outline-success" name="in_confirm_insert" id="cancel-delete-button">@SharedLocalizer["Cancel"]</button>

                </div>
            </div>
        </div>
    </div>
@section script{
    <script src="~/plugins/jquery/jquery.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker2").datepicker();

                            $("#MyModal").modal();
          
                $("#exampleModal").on("click", "#delete-button", function () {
                    $("#do").click();
                });
        });
    </script>
}



