
@model ProjectVM
@{
    ViewData["Title"] = "Details";

}
@section style{
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="~/css/Emp.css" />
}
<center>
    <h1 style="color:red">@SharedLocalizer["Project Details"]</h1>
</center>
<form >
    <div class="form-group">
        <label asp-for="name">@SharedLocalizer["Name"]</label>
        <input type="Text" class="form-control" id="name" placeholder="Enter Name" asp-for="name"disabled>
        <span asp-validation-for="name" class="text-danger font-weight-bold"></span>
    </div>
    <div class="form-group">
        <label asp-for="location">@SharedLocalizer["location"]</label>
        <input type="Text" class="form-control" id="name" placeholder="Enter Salary" asp-for="location" disabled>
        <span asp-validation-for="location" class="text-danger font-weight-bold"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentId">@SharedLocalizer["department"]</label><br />
        <select asp-for="DepartmentId" class="form-control" asp-items="(SelectList)ViewBag.departmentlist" disabled>
            <option>Choose Department</option>
        </select><br />
        <span asp-validation-for="DepartmentId" class="text-danger font-weight-bold" ></span>
    </div>
    <div class="form-group"style="margin-top:-25px">
        <label asp-for="Startdate">@SharedLocalizer["Start Date"]</label><br />
        <input type="text" class="form-control" id="datepicker" asp-for="Startdate" disabled>
        <br />
        <span asp-validation-for="Startdate" class="text-danger font-weight-bold" ></span>
    </div>

    <div class="form-group" style="margin-top:-25px">
        <label asp-for="Finishdate">@SharedLocalizer["Finish Date"]</label><br />
        <input type="text" class="form-control"  id="datepicker2" asp-for="Finishdate" disabled>
        <br />
        <span asp-validation-for="Finishdate" class="text-danger font-weight-bold"></span>
    </div>


    <center>
        <a  class="btn btn-primary" asp-controller="Project" asp-action="Index">@SharedLocalizer["Back To Data"]</a>

    </center>
</form>
@section script{
    
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker2").datepicker();
        });
    </script>
}




