


@model IEnumerable<WebApplication5.BL.VM.EmpVM>


@{
    Layout = "~/Views/Layout/MainLayout.cshtml";
    ViewBag.title = "Employee Card";
}


<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Tables.css" rel="stylesheet" />
    @section styling{

        <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css" />
        <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.css" />

        <link rel="stylesheet" href="~/bootstrap-select/css/bootstrap-select.css" />
        <link href="~/css/upgrading.css" rel="stylesheet" />

        <style>
            .dataTables_length {
                margin-right: 217px;
            }
        </style>


    }

</head>
<body>
<div>
    <center>
        <div class="container-fluid" style="position:absolute;width:800px;left:50%;transform:translate(-50%,0)">
            <div class="row clearfix">
                <center>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:800px;" >
                        <div class="card">
                            <div class="header">
                                <center>
                                    <h1 style="text-align:center;color:red;margin-top:50px;margin-bottom:10px">@SharedLocalizer["Employee Card"]</h1>
                                    <a class="btn btn-primary" asp-area="Employee" asp-controller="Employee" asp-action="create" style="margin-bottom:5px;margin-top:2px"><i class="fa fa-plus" style="margin:4px"></i>@SharedLocalizer["Create new Employee"]</a>
                                  
                                 

                                </center>
                            </div>
                            <div class="body">
                                <div class="table-responsive">

                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable" width=600>
                                        <thead>

                                            <tr>

                                                <th>@SharedLocalizer["Name"]</th>
                                              
                                                <th>@SharedLocalizer["department"]</th>
                                                <th>@SharedLocalizer["Photo"]</th>

                                                <th>@SharedLocalizer["Details"]</th>
                                                <th>@SharedLocalizer["Update"]</th>
                                                <th>@SharedLocalizer["Delete"]</th>

                                                <th><i class="fas fa-plus"></i></th>

                                            </tr>
                                        </thead>
                                        <tbody class="m">
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                               
                                                <td style="font-size:17px">@item.name</td>
                                            
                                                <td>@item.Department.name</td>
                                                <td><img src="~/files/images/@item.imgname" width="50" height="50" asp-append-version="true"></td>
                                                <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">@SharedLocalizer["Details"]</a></td>
                                                <td><a class="btn btn-success" asp-action="update" asp-route-id="@item.id">@SharedLocalizer["Update"]</a></td>
                                                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id"> @SharedLocalizer["Delete"]</a></td>
                                                <td><a class="btn btn-warning" style="color:black" asp-area="Works" asp-controller="Works" asp-action="Create" asp-route-Employeeid="@item.id"><i class="fas fa-plus" data-toggle="tooltip" title="@SharedLocalizer["Add To Project"]"></i></a></td>

                                            </tr>
                                            }





                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>

    </center>

</div>

@section scripting{
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>

    <script>
        $(function () {
            $(".js-basic-example").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false, "pageLength": 5, "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],
                "buttons": ["excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('.table-responsive .col-md-6:eq(0)');
            $('.js-basic-example').DataTable({
                "destroy": true,
                "retrieve": true,
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "pageLength": 5,
                "bLengthChange": false,
                "bInfo": false,
                "bSort": true,
                "bFilter": true,
                "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "All"]],

            });



        });
    </script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/bootstrap-select/js/bootstrap-select.js"></script>
}
    @section script{
        <script src="~/plugins/jquery/jquery.js"></script>
        <script src="~/plugins/bootstrap/js/bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>



       
    }
    </body>
    </html>
