@{
    var Culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>

    <!-- Google Font: Source Sans Pro -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    @RenderSection("styling", required: false)
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <link href="~/css/Tables.css" rel="stylesheet" />

    <!-- Theme style -->
    @if (Culture == "en-US")
    {

        <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
        <style>
            body {
                overflow-x: hidden
            }
        </style>
    }
    else
    {
        <link href="~/dist/css/adminlte-AR.css" rel="stylesheet" />

        <style>
            form.form-inline.mm {
                display: none;
            }

            .x {
                position: relative;
                display: inline-grid;
                grid-template-columns: 50px 10px 10px 10px 10px;
                justify-content: center;
                width: 70px;
            }
        </style>
    }


    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">


    @RenderSection("style", required: false)

    @if (Culture == "ar-EG")
    {
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css">
        <link href="~/dist/css/custom.css" rel="stylesheet" />
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    }

</head>
<body class="hold-transition sidebar-mini layout-fixed" dir="@SharedLocalizer["ltr"]">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link  co" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto  x">
                <!-- Navbar Search -->
                <li>
                    <div class="navbar-search-block y">
                        <form class="form-inline mm">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
                <li class="nav-item" style="margin-top:5px;margin-right:-25px">
                    @if (Culture == "ar-EG")
                    {
                        <a class="dropdown-item d-flex "
                           asp-area="" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">

                            <img src="~/images/usa.jpg" width="35" height="20" style="margin-top:2px" />
                            <span style="vertical-align:middle"></span>
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Language" asp-action="SetLanguage" asp-route-culture="ar-EG" asp-route-returnUrl="@(Context.Request.Path + Context.Request.QueryString)">

                            <img src="~/images/Egypt.jpg" width="35" height="20" class="mt-1" />
                            <span style="vertical-align:middle">Ar</span>
                        </a>
                    }
                </li>


            </ul>




        </nav>
    </div>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2 " alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block" style="font-size:12px;margin-top:2px">@User.Identity.Name</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline hidd">
                <div class="input-group b" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar v" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar z">
                            <i class="fas fa-search fa-fw c"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2  " style="margin-bottom:50px">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                @SharedLocalizer["Home"]

                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                @SharedLocalizer["Departments"]

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Department" asp-controller="Department" asp-action="Index">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@SharedLocalizer["Department Card"] </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                @SharedLocalizer["Employees"]

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Employee" asp-controller="Employee" asp-action="Index">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p> @SharedLocalizer["Employee Card"] </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                @SharedLocalizer["Projects"]


                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Project" asp-controller="Project" asp-action="Index">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@SharedLocalizer["Project Card"] </p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                @SharedLocalizer["Comment"]

                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Mail" asp-action="Index">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>@SharedLocalizer["Send Mail"] </p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    @if (Culture != "ar-EG")
                    {
                        <li class="nav-item" style="margin-top:100px">
                            <form asp-area="" asp-controller="Account" asp-action="signout">
                                <button type="submit" class="btn btn-danger" style="position:absolute;width:100px;left:50%;transform:translate(-50%,0)">@SharedLocalizer["SignOut"]<i class="fas fa-sign-out-alt" style="margin-left:4px;margin-top:2px"></i></button>

                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item" style="margin-top:100px">
                            <form asp-area="" asp-controller="Account" asp-action="signout">
                                <button type="submit" class="btn btn-danger" style="position:absolute;width:100px;left:50%;transform:translate(-50%,0);display:block;visibility:visible">@SharedLocalizer["SignOut"]<i class="fas fa-sign-out-alt" style="margin-left: 4px; margin-top: 2px"></i></button>

                            </form>
                        </li>
                    }



            </nav>
            <p style="color:white;text-align:center">Designed in @DateTime.Now.Year</p>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    @RenderBody()
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    @RenderSection("script", required: false)
   

    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    @if (Culture == "ar-EG")
    {
        <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"></script>
    }
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripting", required: false);
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    @if (Culture == "ar-EG")
    {
        <script src="~/dist/js/adminlte-ar.js"></script>
        <script>
            $(document).ready(function () {
                $(".co").on("click", function () {
                    if ($(".hidd").css("display") == "none") {
                        $(".hidd").css("display", "inline-block")
                    } else {
                        $(".hidd").css("display", "none")
                    }
                })
                $(".y").css("dispaly", "none")
            })
        </script>
    }
    else
    {
        <script src="~/dist/js/adminlte.js"></script>

    }
    @*AdminLTE for demo purposes
        <script src="~/dist/js/demo.js"></script>
         AdminLTE dashboard demo (This is only for demo purposes)*@


    <script src="~/dist/js/pages/dashboard.js"></script>

</body>
</html>
